.Rproj.user
.Rhistory
.RData
.Ruserdata

/Bottled Water Fracking
/BWF_MSU_EML_Sept2019*

/Colorado Mines 2022
/MeetYourProfessor2020
/MidwestEnergyfest2021
/NBERDecarb2024
/Solar NEM MSU EML 2019
/STAN2023
/UWYO2024
/Valuing-Solar-Subsidies_STAN2023_cache
/ESPP SS23 Panel
